{% extends 'base.html.twig' %}

{% block body %}


            <table id="table-id" class="table">
                <thead>
                <tr>
                    <th>{% trans  %}Name{% endtrans %}</th>
                    <th>{% trans  %}E-mail{% endtrans %}</th>
                    <th>{% trans  %}Review{% endtrans %}</th>
                    <th>{% trans  %}Date{% endtrans %}</th>

                </tr>
                </thead>


                {% for row in pagination %}
                <tbody>
                <tr>
                    <td>{{ row.username }}</td>

                    <td>{{ row.eMail }}</td>
                    <td>{{ row.userReview }}</td>
                    <td>{{ row.pubDate|date('H:i:s y/m/d') }}</td>

                </tr>

                </tbody>
                {% endfor %}
            </table>

<div class="navigate">
    {{ knp_pagination_render(pagination) }}
</div>




{% endblock %}

