{% extends 'base.html.twig' %}

{% block body %}


            <table id="table-id" class="table">
                <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Username'|trans, 'username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'E mail'|trans, 'e_mail') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Review'|trans, 'user_review') }}</th>
                    <th>Picture</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date'|trans, 'pub_date') }}</th>

                </tr>
                </thead>


                {% for row in pagination %}
                <tbody>
                <tr>
                    <td>{{ row.username }}</td>

                    <td>{{ row.eMail }}</td>
                    <td>{{ row.userReview }}</td>
                    <td><img src="/images/{{ row.brochure }}"></td>
                    <td>{{ row.pubDate|date('H:i:s y/m/d') }}</td>

                </tr>

                </tbody>
                {% endfor %}
            </table>

<div class="navigate">
    {{ knp_pagination_render(pagination) }}
</div>




{% endblock %}

