{% extends 'base.html.twig' %}







{% block bodyHead %}
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>{% trans %}Welcome to your feedback archive{% endtrans %}</h2>
            <p>{% trans %} Manage your reviews here{% endtrans %}!</p>
        </header>

        {% endblock %}

        {% block body %}


            <table id="table-id" class="table">
                <thead>
                <tr>
                    <th>{{'Username'|trans}}</th>
                    <th>{{'E mail'|trans}}</th>
                    <th>{{'Review'|trans }}</th>
                    <th>{{ 'Picture'|trans }}</th>
                    <th>{{'Date'|trans}}</th>
                    <th>{{'Action'|trans}}</th>

                </tr>
                </thead>


                {% for archive in review %}
                    {% if archive.id|length == 0 %}
                        {{ render(path('not_found')) }}
                    {% endif %}

                    {% if archive.active != 0 %}
                        <tbody>
                        <tr>
                            <td>{{ archive.username }}</td>

                            <td>{{ archive.eMail }}</td>
                            <td>{{ archive.userReview }}</td>
                            <td><img src="/images/{{ archive.brochure }}"></td>
                            <td>{{ archive.pubDate|date('H:i:s y/m/d') }}</td>
                            <td>
                                <a href="{{ path('arc_edit', {'id' : archive.id}) }}">
                                    <i class="fa-pencil" style="color: green"></i>
                                </a>
                                <a href="{{ path('arc_delete', {'id' : archive.id}) }}">
                                    <i class="fa-window-close-o" style="color: red"></i>
                                </a>
                            </td>

                        </tr>

                        </tbody>
                    {% else %}
                        <tbody>
                        <tr>
                            <td>This message</td>

                            <td> is waiting for confirmation</td>
                            <td>by the moderator</td>
                            <td><img src="/images/c1e207fb1694e813210125debb37097f.png"></td>
                            <td>{{ archive.pubDate|date('H:i:s y/m/d') }}</td>
                            <td>
                                <a href="{{ path('arc_delete', {'id' : archive.id}) }}">
                                    <a href="{{ path('arc_delete', {'id' : archive.id}) }}">
                                        <i class="fa-window-close-o" style="color: red"></i>
                                    </a>
                                </a>
                            </td>

                        </tr>

                        </tbody>
                    {% endif %}


                {% endfor %}
            </table>

        {% endblock %}
        {% block endBodyHead %}
    </div>
</section>
{% endblock %}
        {#
        \          SORRY            /
         \                         /
          \    This page does     /
           ]   not exist yet.    [    ,'|
           ]                     [   /  |
           ]___               ___[ ,'   |
           ]  ]\             /[  [ |:   |
           ]  ] \           / [  [ |:   |
           ]  ]  ]         [  [  [ |:   |
           ]  ]  ]__     __[  [  [ |:   |
           ]  ]  ] ]\ _ /[ [  [  [ |:   |
           ]  ]  ] ] (#) [ [  [  [ :===='
           ]  ]  ]_].nHn.[_[  [  [
           ]  ]  ]  HHHHH. [  [  [
           ]  ] /   `HH("N  \ [  [
           ]__]/     HHH  "  \[__[
           ]         NNN         [
           ]         N/"         [
           ]         N H         [
          /          N            \
         /           q,            \
        /                           \#}