<!DOCTYPE html>
<html>
<head>




    <title>{% block title %}{% trans  %}Guest book{% endtrans %}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />


        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}

</head>

{% block header %}

<body class="is-preload">
<header id="header">
    <a class="logo" href="{{ path('app_homepage') }}">{% trans  %}Guest book{% endtrans %}</a>


    <nav>
        <a href="#menu">{% trans  %}Menu{% endtrans %}</a>
    </nav>
</header>
{% endblock %}
<nav id="menu">
    <ul class="links">
        <li><a href="{{ path('app_homepage')}}">{% trans  %}Home{% endtrans %}</a></li>
       <li><a href="{{ path('app_yop') }}">{% trans  %}Reviews{% endtrans %}</a></li>
        <li><a href="{{ path('user_review') }}">{% trans  %}Leave review{% endtrans %}</a></li>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED')  %}
        <li><a href="{{ path('app_logout') }}">{% trans  %}Logout{% endtrans %}</a></li>
        <li><a href="{{ path('/lang') }}">{% trans  %}Language{% endtrans %}</a></li>

        {% else %}


        <li><a href="{{ path('user_registration') }}">{% trans  %}Sign up{% endtrans %}</a></li>
        <li><a href="{{ path('app_login') }}">{% trans  %}Sign in{% endtrans %}</a></li>
        {% endif %}

    </ul>
</nav>
{% block bodyHead %}
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>{% trans %}Welcome to Guest book{% endtrans %}</h2>
            <p>{% trans %}Give us a review and we will become even better{% endtrans %}!</p>
        </header>

        {% endblock %}

{% block body %}{% endblock %}
{% block endBodyHead %}
    </div>
    </section>
{% endblock %}
<footer id="footer">
    <div class="inner">
        <div class="content">
            <section>
                <h3>Accumsan montes viverra</h3>
                <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p>
            </section>
            <section>
                <h4>Sem turpis amet semper</h4>
                <ul class="alt">
                    <li><a href="#">Dolor pulvinar sed etiam.</a></li>
                    <li><a href="#">Etiam vel lorem sed amet.</a></li>
                    <li><a href="#">Felis enim feugiat viverra.</a></li>
                    <li><a href="#">Dolor pulvinar magna etiam.</a></li>
                </ul>
            </section>
            <section>
                <h4>Magna sed ipsum</h4>
                <ul class="plain">
                    <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                    <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                    <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                    <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                </ul>
            </section>
        </div>
        <div class="copyright">
            &copy; Untitled. Photos <a href="https://unsplash.co">Unsplash</a>, Video <a href="https://coverr.co">Coverr</a>.
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/browser.min.js') }}"></script>
<script src="{{ asset('js/breakpoints.min.js') }}"></script>
<script src="{{ asset('js/util.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>

</body>
</html>